body {
    background: #a3a8ae;
}

a {
    color: orangered;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #17bb40;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-align: center;
}

